<div class="welcome">
  <% if (req.session.user && req.session.user.displayName) { %>
    Hi 
    <label class="welcome-user"><%- req.session.user.displayName %>
    </label>
    !
  <% } else { %>
    Please login.
  <% } %>
</div>