<div class="content-body">
  <div id="inbox-content-header" class="hidden">
  </div>
  <div id="content-body-inbox">
  </div>
  <div class="reply-div hidden">
    <textarea id="reply-textarea"></textarea>
    <button id="reply-submit">Send</button>
  </div>
</div>