<div class="content-body">
  <div class="message-list">
  </div>
  <div class="fixed-footer">
    <div class="message-receiver-details">
      <label class="message-label-to">Send To:</label>
      <input type="text" class="message-input-to" id="message-receiver-num" placeholder="+639xxxxxxxxx" />
    </div>
    <div class="message-input">
      <textarea id="message-textarea"></textarea>
      <button id="message-submit">Send</button>
    </div>
  </div>
</div>