/**
 * Local environment settings
 * For more information, check out:
 * http://sailsjs.org/#!/documentation/anatomy/myApp/config/local.js.html
 */

module.exports = {

  port: process.env.PORT || 8000,
  environment: process.env.NODE_ENV || 'development',

  redis: {
    recheck_interval: 60000, //1 minute
    host: "127.0.0.1",
    port: 6379,
    db: 0
  },

  passport: {  
    facebook: {
      clientId: "_FB_ID_",
      clientSecret: "_FB_SECRET_"
    }
  },

  ansible: {
    username: "_ANSIBLE_KEY_",
    password: "_ANSIBLE_SECRET_"
  },

  url: {
    sms: "http://runic.voyager.ph/v1/notification/sms",
    token: "http://runic.voyager.ph/v1/auth/token",
    facebook: "http://localhost:8000/auth/facebook/callback",
    firebase: "https://echo-de001.firebaseio.com"
  }

};
